*.pyc
*.pyo
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

.vscode/

*.log
.env
venv/
.venv/
env/

*.aux
*.bbl
*.fdb_latexmk
*.blg
*.fls
*.out
*.synctex.gz

diagram/

project2/*.csv

grade_test/

**/temp
AGENTS.md